footer{

    margin-top: 15%;
    width: 100%;
    background-color: black;
    color: white;

}

a{
    list-style: none;
}

.containerFooter{
    display: flex;
    align-items: center;

}
.direitos{
    margin: 0 auto;
    padding: 8%;
}
#links{
    display: block;
    list-style: none;
    margin-top: 5%;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;

}
.informacoes{
    padding: 5%;
    text-align: left;
    

}
.redesSociais{
    padding: 5%;
    text-align: right
}

