@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'Poppins-Black';
    src: url(fontes/Poppins-Black.ttf) format
    ('truetype');
    font-weight: normal;
    font-style: normal;
}
*{
    margin:0;
    padding:0;
    font-family: 'Poppins' , sans-serif;
}
.titulo-carrosel {
    margin: 2%;
    width: 50%;
}
.titulo-carrosel h2{
    font-size: 30px;
    font-weight: 200;
}
.titulo-carrosel h5{
    color: rgba(0, 0, 0, 0.5);
    text-align: left;
    font-weight: bold;
}
.box-carrosel{
    background-color: #0000CD;
    display: flex;
    padding: 2%;
    height: 65vh;
}

.img-box-carrossel{

}



.itens-carrossel{
    background-color: black;
    width: 100%;
    height: 60vh;
    border-radius: 25px;
}
.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 60vh;
    border-radius: 25px;

  }

  .carousel-container {
    display: flex;
  }

  .carousel-slide {
    display: flex;
    transition: transform 0.3s ease-in-out;
  }

  .carousel-slide img {
    width: 100%;
    height: auto;

  }
form.busca{
width: 100%;
text-align: center;
margin-top: 5%;

}
.divBusca {
    text-align: center;
   height: 10vh;

}
.divBusca h1{
    font-size: 40px;
    margin-bottom: 3%;
}
.itensBusca{
    margin-top: 2%;
}
.itensBusca input{
    font-size: 25px;
    width: 45%;
    height: 7vh;
    border-radius: 10px;
    border: solid 2px #0000CD;
}
.itensBusca button{
    font-size: 20px;
    height: 7vh;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: #0000CD;
}
.itensBusca button:hover{
    background-color: white;
    transition: .3s;
    color: #0000CD;

}
.vagas{
   display: block;
   padding: 10%;
   text-align: center;
   padding: 10% 5% 10% 5%;

}
.title-container-vagas{
    font-size: 50px;
}

.card-vagas{
    box-shadow: 0px 6px 10px 10px rgba(0, 0, 0, 0.1);
    padding: 9%;
    width: 57%;
}
.containerVagas{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}
.box-vagas {
    margin-top: 5%;
    display: flex;
    width: 33.3%;
    justify-content: space-around;
    flex-direction: row;
}
.itens-btn{
    margin-top: 20%;

}
.itens-vagas h2{
    margin-bottom: 5%;
}
.itens-vagas h5{
    margin-top: 2%;
}
.btn-ver-mais{
    text-decoration: none;
    color: #0000CD;
    font-size: 20px;
}
.link-vaga{
    text-decoration:none;
    color:black;
}
/* MODAL CSS */
.modal-container {
    background: rgba(0, 0, 0, 0.2);

    width: 100%;
    height: 100vh;
    
    position: fixed;
    left: 0;
    top: 0;

    display: grid;
    place-items: center;

    opacity: 0;
    pointer-events: none;

    transition: opacity 0.15s;
  }
  .title-vaga{
    display: flex;
    justify-content: center; 
    
  }
  .sair{
    margin-left: 15%;
  }
  .modal {
    background: #fff;
    width: 100%;
    height: 0;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 #00000070;
    overflow: hidden;
    transition: width 0.15s, height 0.15s;
  }
  .button-candidatar{
    cursor: pointer;
    background-color: #0000CD;
    color: white;
    margin: 0 auto;
    width: 20%;
    height: 50px;
    border-radius: 25px;
  }
  .button-candidatar p{
    text-align: center;
    padding: 8%;
  }
  #vaga-nome{
    font-size: 40px;
    }
    #empresa-nome{
        font-size: 30px;
    }
    .dados-vaga h5{
        font-size: 15px;
         
    }
    .dados-vaga {
        text-align: left;
        padding: 2%;
     
    }
    #empresa-endereco{
        font-size: 25px;
    }
  .modal-show > .modal {
     width: 50%;
    height: 65vh;
  }

  .modal-show {
    opacity: 1;
    pointer-events: auto;
  }
