{% extends 'base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'style.css'%}">{% endblock %}

{% block conteudo %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    {% if message.success %}
    <li {% if message.success %} class="{{ message.success }}"{% endif %}>

        {{ message.success }}
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% endif %}
{% include 'parcias/_header.html'%}
    <main >
        <section class="sessao1">


            <div class="ladoEsquerdo">
                <div class="texto">
                    <h1> Dê o start no seu futuro com o <span > SISTAGIO</span></h1>
                </div>


                <div class="subtexto">
                    <h3 class="texto"> O primeiro passo da sua carreira começa aqui! O SISTAGIO é uma
parceria entre empresas e alunos. Faça parte deste time.

                    </h3>
                </div>
                <a class="start" href="{% url 'home:login' %}">Start</a> 
            </div>
            <div class="ladoDireito">
                <div class="bola"></div>
            </div>
        </section>
        <section class="sessao2">
            <div class="ladoEsquerdo2">
                <h3 class="titulo">Por que Acreditar no SISTAGIO?</h3>
                <h2 class="conteudo">Garantimos competência entre empresa e aluno, além
da praticidade e agilidade na escolha da contratação.
                </h2>
                <h4 class="subtitulo">Com o vinculo de instituições, através do SISTAGIO as empresas têm acesso as soft skills e
hard skills dos alunos que são avaliados direto dos seus docentes!
                </h4>
            </div>
            <div class="ladoDireito2">
                <img src="static/imagens/apertodemao.jpeg" alt="aperto" id="imgaperto">
            </div>
        </section>
        <section class="sessao4">
            <div class="ladoEsquerdo4Img">
                <img src="static/imagens/conexao.jpeg" alt="conexoes" id="conexoes">
            </div>
            <div class="ladoDireito4">
                <h3 class="titulo">Por que Acreditar no SISTAGIO?</h3>
                <h2 class="conteudo">Facilitamos o  acesso ao seu primeiro estagio.
                </h2>
                <h4 class="subtitulo" >Com o Sistagio,os alunos tem acesso a vagas postadas diretamente
pelas empresas, podendo assim realizar suas inscrições. Em contra partida as empresas também podem procurar por alunos e proporcionar o seu primeiro estagio!
                </h4>
            </div>
        </section>
        <section class="sessao3">
            <div class="titleSessao3">
                <h1 class="textoTitle">Contribuimos para o desenvolvimentos de todos !</h1>
            </div>
            <div class="containerCards">
                <div class="card">
                    <h3 class="titleCard">Instituição</h3>
                    <h4 class="subtile">A instituição que oferece bons profissionais também oferce um ótimo ensino,
como conquista uma maior contratação de alunos pelas empresas, tornando sua instituição de ensino cada vez mais renomada!
</h4>
                </div>
                <div class="card">
                    <h3 class="titleCard">Aluno</h3>
                    <h4 class="subtitle">Atráves de seu esforço em melhorar  seu desempenho como profissional, suas habilidades no Sistagio ficam cada vez mais requisitadas, tendo assim a oportunidade de realizar seu sonho.
                    </h4>
                </div>
                <div class="card">
                    <h3 class="titleCard">Empresa</h3>
                    <h4 class="subtitle">As empresas poderão ver futuros potênciais que agregarão valor a sua equipe de funcionários,
                    tudo isso feito de maneira rapida e prática, e além disso poderá postar vagas para atrair esses mesmos potenciais para sua empresa.</h4>
                </div>
            </div>
        </section>



{% include 'parcias/_footer.html'%}
    </main>

{% endblock %}