{% extends 'base.html' %}
{% block title %}<title>Perfil</title> {% endblock %}
{% load static %}
{% block conteudo %}
{% include 'parcias/_header.html' %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}{% endif %}
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}

{% block style %}
<link rel="stylesheet" href="{% static 'perfil.css'%}">{% endblock %}
<main class="main">
    <div class="container-inicio">
        <div class="foto-perfi">


            {% if not perfilPessoa.per_foto %}
            <img src="/static/imagens/perfil-sem-foto.png" alt="" class="img-perfil">
            {%endif%}
            {% if perfilPessoa.per_foto %}

            <img src="{{perfilPessoa.per_foto.url}}" alt="" class="img-perfil">
            {%endif%}
            <form class="container-foto-form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="btn-foto-alterar" id="label-file">Enviar Arquivo</label>
                <input type="file" id="btn-foto-alterar" name="perfil_foto_usuario" accept=".jpg, .jpeg, .png">
                <button class="btn-alterar-sobre1" name="mudar-foto">Salvar foto</button>
            </form>

        </div>

        <div class="titulo">
            <h3 class="text-titulo">{{user.first_name}}</h3>
        </div>
    </div>

    <div class="container-meio">
        <div class="container-sobre">

            <form class="form-dados-sobre" id="form-alterar" style="display: none;" method="POST" >
                {% csrf_token %}
                <div class="titulo-sobre">
                    <h3 class="title-meio-h3">MEUS DADOS</h3>
                    <button class="btn-alterar-sobre" id="btn-salvar" name="dados-usuario" >Salvar</button>
                </div>

                <div class="descricao">
                    <h4 class="text-descricao">Conte um pouco sobre você:</h4>
                    <textarea name="{{perfil.per_detalhe.name}}" class="textarea-descricao"
                        placeholder="O melhor aluno do Sistagio!">{{perfilPessoa.per_detalhe}}</textarea>
                </div>
                <div class="dados-pessoais">
                    <label for="" class="text-dados">Nome completo:</label>
                    <input type="text" name="{{usuario.first_name.name}}" value="{{user.first_name}}"
                        class="input-dados">
                </div>
                <div class="dados-pessoais">
                    <label for="" class="text-dados">E-mail:</label>
                    <input type="text" class="input-dados"  name="{{usuario.email.name}}">
                </div>
                <div class="dados-pessoais">
                    <label for="" class="text-dados">Telefone:</label>
                    <input type="tel" class="input-dados" name="{{perfil.per_tell.name}}"
                        value="{{perfil.per_tell.value}}" placeholder="Atualize número de telefone">
                </div>
                <div class="dados-pessoais">
                    <label for="" class="text-dados">Senha:</label>
                    <input type="password" class="input-dados" name="{{usuario.password.name}}" placeholder="Atualize sua senha">

                    <label for="" class="text-dados">Confirmação de senha:</label>
                    <input type="password" class="input-dados" name="{{usuario.password2.name}}" placeholder="Atualize sua senha">
                </div>

                {%if perfilPessoa.tipo == 'A'%}
                <div class="descricao">
                    <h4 class="text-descricao">Insira algumas de suas habilidades:</h4>
                    <textarea name="{{perfil.per_habilidade.name}}" class="textarea-descricao"
                        placeholder="O melhor aluno do Sistagio!">{{perfil.per_habilidade.value}}</textarea>
                </div>
                {%endif%}

            </form>
            <div class="form-dados-sobre" id="form-dados-banco">
                <div class="titulo-sobre">
                    <h3 class="title-meio-h3">MEUS DADOS</h3>
                    <button class="btn-alterar-sobre" id="btn-alterar">Alterar</button>
                </div>

                <div class="descricao">
                    <h4 class="text-descricao">Conte um pouco sobre você:</h4>
                    <p>{{perfilPessoa.per_detalhe}}</p>
                </div>
                <div class="dados-pessoais">
                    <label for="" class="text-dados">Nome completo:</label>
                    <p>{{user.first_name}}</p>
                </div>
                <div class="dados-pessoais">
                    <label for="" class="text-dados">E-mail:</label>
                    <p>{{user.email}}</p>
                </div>
                <div class="dados-pessoais">
                    <label for="" class="text-dados ">Telefone:</label>
                    <p class="{% if not perfilPessoa.per_tell%}null-tell{%endif%}">{% if not perfilPessoa.per_tell%}(00)
                        00000-0000{%endif%}
                        {% if perfilPessoa.per_tell%} {{perfilPessoa.per_tell}} {%endif%}
                    </p>
                </div>
                {% if perfilPessoa.tipo == 'A' %}
                <div class="descricao">
                    <h4 class="text-descricao">Habilidades:</h4>
                    <p>{{perfilPessoa.per_habilidade}}</p>
                </div>
                {%endif%}

            </div>
        </div>
        <div class="box-vagas">
            <div class="container-vagas-cadastradas">
                <h3 class="title-meio-h3">{% if perfilPessoa.tipo == 'A' %}VAGAS CADASTRADAS{%endif%}
                    {% if perfilPessoa.tipo == 'E' %}VAGAS LANÇADAS{%endif%}
                </h3>
                <div class="card-vagas" id="card-vagas">
                    {% if perfilPessoa.tipo == 'A' %}
                    {% for Vaga in vaga_cadastradas%}
                    <div class="itens-card-vagas">
                        <h4 class="title-card-vagas">{{Vaga.vcad_postVaga_fk.vag_nome}}</h4>
                        <p class="descricao-vaga">{{Vaga.vcad_postVaga_fk.vag_usuario_fk.first_name}}</p>
                        <div class="div-btn-ver-mais">
                            <a href="" class="btn-ver-mais">
                                <p class="text-ver-mais"> Ver mais</p>
                            </a>
                        </div>
                    </div>
                    {%endfor%}
                    {%endif%}
                    {% if perfilPessoa.tipo == 'E'  %}
                    {% for vaga in vagas_lancadas%}
                    <div class="itens-card-vagas" id="urlRequisicao" data-url="{% url 'post_vagas:candidatos' %}">
                        <h2 class="vaga_name">{{ vaga.vag_nome}}</h2>
                        <h3 class="title-empresa">{{ vaga.vag_usuario_fk.first_name}}</h3>
                        <!-- <h5 class="subtitulo-empresa">Uma empresa de micro-serviços</h5> -->
                        <h5 class="endereco">{{ vaga.vag_endereco}}</h5>
                        <vaga_descricao style="display:none;" id="vaga_descricao">{{vaga.vag_descricao}}
                        </vaga_descricao>
                        <vaga_funcao style="display:none;" id="vaga_funcao">{{vaga.vag_funcao}}</vaga_funcao>
                        <vaga_beneficio style="display:none;" id="vaga_beneficio">{{vaga.vag_beneficio}}
                        </vaga_beneficio>
                        <p>Codico: <vaga_codigo id="vaga_codigo">{{vaga.vag_cod}}</vaga_codigo>
                        </p>
                        <a class=" btn-ver-mais {{vaga.vag_nome}}">Ver Mais</a>
                    </div>



                    {%endfor%}

                    <div class="modal-container">
                        <div class="modal">
                            <h3 id="vaga-nome"></h3>
                            <h3 id="empresa-nome"></h3>
                            <div class="modal-texts">
                                <div class="itens-vaga">
                                    <h3 class="title-texts">Requisitos: </h3>
                                    <h2 id="vaga-descricao"></h2>
                                </div>
                                <div class="itens_vaga">
                                    <h5 class="requisitos_vaga"></h5>
                                </div>
                                <div class="itens-vaga">
                                    <h3 class="title-texts">Descrição: </h3>
                                    <h5 id="vaga-funcao"></h5>
                                </div>
                                <div class="itens-vaga">
                                    <h3 class="title-texts">Endereço: </h3>
                                    <h5 id="empresa_endereco"></h5>
                                </div>
                                <div class="itens-vaga">
                                    <p class="title-texts">Benefícios:</p>
                                    <h5 id="vaga-beneficio"></h5>
                                </div>
                                <div class="itens-vaga">
                                    <p class="title-texts">Codigo da vaga: <h2 id="id-vaga"></h2>
                                    </p>
                                </div>
                                {% if perfilPessoa.tipo == 'E' %}
                                <div class="button-candidatar">
                                    <p id="urlExcluirvaga" data-url="{% url 'post_vagas:excluirVaga' %}"
                                        class="btn-exlcuir-vaga">Excluir vaga</p>
                                </div>
                                {%endif%}
                                <div id="candidatos">
                                    <h3>Candidatos</h3>
                                </div>
                            </div>



                        </div>
                    </div>

                    {%endif%}


                    {% if perfilPessoa.tipo == 'D' %}



                    {% for curso in docente_curso%}

<table class="tabela_alunos">
     <thead>
    <tr>
      <th class="tabela_nome_th">Nome</th>
        <th class="tabela_curso_th">Curso</th>
        <th class="tabela_instituicao_th">Instituição</th>
    </tr>
  </thead>
     <tbody>
                    {% for alunos in alunos_inscritos %}







                    {% if curso.doce_curso_instituicao_fk == alunos.curs_insituicao and curso.doce_curso_instituicao_fk.curs_nome == curso.doce_curso_instituicao_fk.curs_nome%}
<tr>
      <td ><a href="{% url 'perfil:detalhe' alunos.curs_perfil_fk.per_pessoa_fk.id alunos.curs_codigo%}">
{{alunos.curs_perfil_fk.per_pessoa_fk.first_name}}</a></td>
    <td>{{curso.doce_curso_instituicao_fk.curs_nome}}</td>
 <td>{{curso.doce_curso_instituicao_fk.curs_perfil_fk.per_pessoa_fk.first_name.upper}}</td>
    </tr>




                    {%endif%}

                    {%endfor%}
    </tbody>
</table>
                    {%endfor%}




                    {%endif%}


                </div>
            </div>
            {% if perfilPessoa.tipo == 'A' %}
            <div class="container-avaliacao">
                <h4 class="title-meio-h3">Avaliações do Docente</h4>





                {% for pergunta, nota in lista_pergunta_media%}
                    <h4> <span class="star">★</span>{{nota}} {{user.first_name}} {{pergunta}} </h4>
                {%endfor%}
                
                 <h4 class="title-meio-h3">Avaliadores</h4>
                 {% for ava in  aluno_verificado %}

                        <h4>Docente: {{ava.alu_docente_fk.doce_perfil_pk.per_pessoa_fk.first_name}}</h4>
                        <h4 >Instuiçao: {{ava.alu_docente_fk.doce_instituicao_fk.first_name.upper}}</h4>
                        <h4 >Curso: {{ava.alu_curso_aluno_fk.curs_insituicao.curs_nome}}</h4>
                        <br>
                {%endfor%}
            </div>
            <div class="container-avaliacao">

                <div class="itens-card-vagas2">
                    {% for curso in  curso_aluno_vinculado%}
                    <h1 class="nome-curso">Nome: {{curso.curs_insituicao.curs_nome}}</h1>
                    {%endfor%}
                    
                </div>
            </div>
            
            
            
            
            <form action="" method="POST" name="curso_escolhido">
                {% csrf_token %}
                <div class="container-avaliacao">
                    
                    <h4 class="title-meio-h3">Cursos</h4>
                    <select id="firstOption" name="instituicao">
                        <option value="">Selecione o Curso</option>
                        {% for opcao in curso_oferecer %}
                        <option value="{{ opcao.per_pessoa_fk.first_name}}">
                            {{ opcao.per_pessoa_fk.first_name }}</option>
                        {% endfor %}


                    </select>

                    <select id="secondOption" name="curso">
                        <option value="">Selecione a opção</option>
                    </select>
                    <button type="submit" name="curso_escolhido" class="btn-alterar-sobre">Enviar</button>
                </div>

            </form>

            {%endif%}

            {% if perfilPessoa.tipo == 'I' %}
            <h4 class="title-meio-h3">Cadastrar Curso</h4>
            <form action="" method="POST">
                {% csrf_token %}
                <label for="id_curs_nome" class="text-dados">Nome do curso</label>
                <input type="text" name="{{curso_instituicao.curs_nome.name}}" class="input-dados" id="id_curs_nome"
                    placeholder="Digite o nome do curso">
                <button type="submit" name="botao-curso-instituicao" class="btn-alterar-sobre">Salvar</button>
            </form>
            <h4 class="title-meio-h3" style="margin-top:15px;">Cursos cadastrados</h4>
            <div class="container-avaliacao">

                {% for curso in curso_vinculado%}
                <div class="itens-card-vagas">
                    <h4 class="title-card-vagas">{{curso.curs_nome}}</h4>


                </div>
                {%endfor%}

            </div>
            {%endif%}

            {% if perfilPessoa.tipo == 'D' %}
            <h4 class="title-meio-h3">Curso vinculados</h4>

            {% for curso in docente_curso%}
            <h1>{{curso.doce_curso_instituicao_fk.curs_nome}}</h1>
            {%endfor%}

            {%endif%}

        </div>
    </div>
    <div class="container-certificados">
        <div class="titulo-certificados">
            {% if perfilPessoa.tipo == 'A' %}
            <h3 class="title-meio-h3">Certificados</h3>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="id_cert_nome_curso" class="text-dados">Nome do certificado</label>
                <input type="text" name="{{certificados.cert_nome_curso.name}}" class="input-dados"
                    id="id_cert_nome_curso">
                <label for="id_cert_instituicao" class="text-dados">Nome da instituição</label>
                <input type="text" name="{{certificados.cert_instituicao.name}}" id="id_cert_instituicao"
                    class="input-dados">
                <input type="file" name="{{certificados.cert_arquivo.name}}">


                <button type="submit" class="btn-alterar-sobre" name="botao-certificado">Enviar</button>
            </form>
            <div class="campo-certificados" style="margin-top: 28px;">

                {% for certificado in certificados_usuario%}
                <div class="style-certificado">

                    <div class="certificado-informacao" style="width:50%;">
                        <p>Nome do curso: {{certificado.cert_nome_curso}}</p>
                        <p>Nome da instituição: {{certificado.cert_instituicao}}</p>
                        <hr>
                    </div>
                    <img src="{{certificado.cert_arquivo.url}}" style="width:25%;">

                </div>

                {%endfor%}

            </div>

            {%endif%}

            {% if  perfilPessoa.tipo == 'E' %}
            <h3 class="title-meio-h3">Postar vaga</h3>
            <form method="POST" action="" class="container-post-vagas">
                {% csrf_token %}
                <div class="box-post-vagas">

                    <div class="itens-post-vagas">

                        <label for="id_vag_nome" class="text-dados">Nome da vaga</label>
                        <input type="text" name="{{post.vag_nome.name}}" class="input-dados-vaga" id="id_vag_nome">
                    </div>
                    <div class="itens-post-vagas">

                        <label for="id_vag_tell" class="text-dados">Telefone</label>
                        <input type="text" name="{{post.vag_tell.name}}" class="input-dados-vaga" id="id_vag_tell"
                            value="
                                {% if perfilPessoa.per_tell%} {{perfilPessoa.per_tell}} {%endif%}">
                    </div>
                    <div class="itens-post-vagas">

                        <label for="id_vag_email" class="text-dados">Email</label>
                        <input type="email" name="{{post.vag_email.name}}" class="input-dados-vaga" id="id_vag_email">
                    </div>
                    <div class="itens-post-vagas">

                        <label for="id_vag_endereco" class="text-dados">Endereço</label>
                        <input type="text" name="{{post.vag_endereco.name}}" class="input-dados-vaga"
                            id="id_vag_endereco">
                    </div>

                    <div class="itens-post-vagas">

                        <label for="id_vag_descricao" class="text-dados">Descrição</label>
                        <input type="text" name="{{post.vag_descricao.name}}" class="input-dados-vaga"
                            id="id_vag_descricao">
                    </div>

                    <div class="itens-post-vagas">

                        <label for="id_vag_funcao" class="text-dados">Função</label>
                        <input type="text" name="{{post.vag_funcao.name}}" class="input-dados-vaga" id="id_vag_funcao">
                    </div>
                    <div class="itens-post-vagas">

                        <label for="id_vag_beneficio" class="text-dados">Beneficio</label>
                        <input type="text" name="{{post.vag_beneficio.name}}" class="input-dados-vaga"
                            id="id_vag_beneficio">
                    </div>
                </div>

                <button type="submit" name="botao-vag" class="btn-alterar-sobre">Enviar</button>
            </form>
            {%endif%}

            {% if  perfilPessoa.tipo == 'I' %}

            <form method="POST" name="form-docente" class="container-post-vagas">
                {% csrf_token %}
                <h1 class="title-docente">Crie as Credenciais dos Docentes</h1>
                <div class="box-vagas">
                    <label for="id_nome_docente" class="text-dados">Nome docente</label>
                    <input type="text" name="{{docente_formulario.nome_docente.name}}" class="input-dados-vaga"
                        id="id_nome_docente">
                </div>

                <div class="box-vagas">
                    <label for="id_email_docente" class="text-dados">Email docentee</label>
                    <input type="text" name="{{docente_formulario.email_docente.name}}" class="input-dados-vaga"
                        id="id_email_docente">
                </div>

                <div class="box-vagas">
                    <label for="id_cpf_docente" class="text-dados">CPF</label>
                    <input type="text" name="{{docente_formulario.cpf_docente.name}}" class="input-dados-vaga"
                        id="id_cpf_docente">
                </div>

                <div class="box-vagas">
                    <label for="id_senha_docente" class="text-dados">Senha</label>
                    <input type="text" name="{{docente_formulario.senha_docente.name}}" class="input-dados-vaga"
                        id="id_senha_docente">
                </div>

                <div class="box-vagas">
                    <label for="id_senha_docente2" class="text-dados">Confirmação de Senha</label>
                    <input type="text" name="{{docente_formulario.senha_docente2.name}}" class="input-dados-vaga"
                        id="id_senha_docente2">
                </div>


                {% for opcao in curso_vinculado %}

                <input type="checkbox" id="scales" name="curso_docente" value="{{ opcao.curs_codigo }}">
                <label for="scales">{{ opcao.curs_nome }}</label>

                {% endfor %}


                <button type="submit" class="btn-alterar-sobre" name="btn-docente">Enviar</button>
            </form>


        </div>
    </div>


</main>






{% if  perfilPessoa.tipo == 'I' %}
{%for docente in docente_vinculado%}
<p>{{docente.doce_perfil_pk.per_pessoa_fk.first_name}}</p>
{%endfor%}
{%endif%}

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="arquivo_nome_turma">Nome da turma: </label>
    <input type="text" name="arquivo_nome_turma">

    <!--<label for="arquivo_curso">Nome do curso: </label>
    <input type="text" name="arquivo_curso"> -->

    <input type="file" name="arquivo">
    <button type="submit" name="botao-csv">Enviar</button>
</form>
{%endif%}


<script src="{% static 'Scripts/perfil_script.js' %}"></script>
<script src="{% static 'Scripts/model_empresa_ajax.js' %}"></script>
<script src="{% static 'Scripts/ajax_curso.js' %}"></script>
<script>
    const ratingContainers = document.querySelectorAll('.rating');
teste = 0
contador = 0
soma = 0
    media_aluno = document.getElementById('media_aluno')
    ratingContainers.forEach(container => {

        const stars = parseInt(container.getAttribute('data-stars'));
        teste += stars
        contador += 1
        soma += stars / 5
        console.log(stars / 5 + "media" + contador)
        for (let i = 0; i < stars; i++) {
            const star = document.createElement('span');
            star.innerHTML = '★'
            star.classList.add('star');
            container.appendChild(star);
        }

    });
    media_aluno.innerHTML = teste / contador
    console.log(media_aluno)

</script>
{%endblock%}