{% extends 'base.html' %}
{% block title %}<title>Perfil</title> {% endblock %}
{% load static %}
{% block conteudo %}
{% include 'parcias/_header.html' %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}{% endif %}
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}

{% block style %}<link rel="stylesheet" href="{% static 'perfil.css'%}">{% endblock %}
 <main class="main">
        <div class="container-inicio">
            <div class="foto-perfi">


                {% if not perfilPessoa.per_foto %}
                 <img src="/static/imagens/perfil-sem-foto.png" alt="" class="img-perfil">
                {%endif%}
                {% if perfilPessoa.per_foto %}

                 <img src="{{perfilPessoa.per_foto.url}}" alt="" class="img-perfil">
                {%endif%}
            <form class="container-foto-form" method="POST" enctype="multipart/form-data">
                 {% csrf_token %}
                <input type="file" class="btn-foto-alterar" name="perfil_foto_usuario"  accept=".jpg, .jpeg, .png">
                 <button class="btn-alterar-sobre" name="mudar-foto">Salvar foto</button>
            </form>

            </div>

            <div class="titulo">
                <h3 class="text-titulo">{{user.first_name}}</h3>
            </div>
        </div>

        <div class="container-meio">
            <div class="container-sobre" >

                <form class="form-dados-sobre" id="form-alterar" style="display: none;"  method="POST">
                    {% csrf_token %}
                    <div class="titulo-sobre">
                        <h3 class="title-meio-h3">MEUS DADOS</h3>
                        <button class="btn-alterar-sobre" id="btn-salvar" name="dados-usuario">Salvar</button>
                    </div>

                    <div class="descricao">
                        <h4 class="text-descricao">Conte um pouco sobre você:</h4>
                        <textarea name="{{perfil.per_datlhe.name}}" class="textarea-descricao" placeholder="O melhor aluno do Sistagio!"
                            ></textarea>
                    </div>
                    <div class="dados-pessoais">
                        <label for="" class="text-dados">Nome completo:</label>
                        <input type="text" name="{{usuario.first_name.name}}" value="{{user.first_name}}" class="input-dados">
                    </div>
                    <div class="dados-pessoais">
                        <label for="" class="text-dados">E-mail:</label>
                        <input type="email" class="input-dados" value="{{user.email}}" name="{{usuario.email.name}}">
                    </div>
                    <div class="dados-pessoais">
                        <label for="" class="text-dados">Telefone:</label>
                        <input type="tel" class="input-dados" name="{{perfil.per_tell.name}}" value="{{perfil.per_tell.value}}" placeholder="Atualize número de telefone">
                    </div>
                    <div class="dados-pessoais">
                        <label for="" class="text-dados">Senha:</label>
                        <input type="password" class="input-dados" placeholder="Atualize sua senha">
                    </div>

                    {%if perfilPessoa.tipo == 'A'%}
                    <div class="descricao">
                        <h4 class="text-descricao">Insira algumas de suas habilidades:</h4>
                        <textarea name="{{perfil.per_detalhe.name}}" class="textarea-descricao" placeholder="O melhor aluno do Sistagio!"
                            >{{perfil.per_detalhe.value}}</textarea>
                    </div>
                    {%endif%}

                </form>
                <div class="form-dados-sobre" id="form-dados-banco">
                    <div class="titulo-sobre">
                        <h3 class="title-meio-h3">MEUS DADOS</h3>
                        <button class="btn-alterar-sobre" id="btn-alterar">Alterar</button>
                    </div>

                    <div class="descricao">
                        <h4 class="text-descricao">Conte um pouco sobre você:</h4>
                        <p></p>
                    </div>
                    <div class="dados-pessoais">
                        <label for="" class="text-dados">Nome completo:</label>
                        <p>{{user.first_name}}</p>
                    </div>
                    <div class="dados-pessoais">
                        <label for="" class="text-dados">E-mail:</label>
                        <p>{{user.email}}</p>
                    </div>
                    <div class="dados-pessoais">
                        <label for="" class="text-dados ">Telefone:</label>
                        <p class="{% if not perfilPessoa.per_tell%}null-tell{%endif%}">{% if not perfilPessoa.per_tell%}(00) 00000-0000{%endif%}
                        {% if perfilPessoa.per_tell%} {{perfilPessoa.per_tell}} {%endif%}
                        </p>
                    </div>
                      {% if perfilPessoa.tipo == 'A' %}
                    <div class="descricao">
                        <h4 class="text-descricao">Habilidades:</h4>
                        <p>{{perfilPessoa.per_detalhe}}</p>
                    </div>
                    {%endif%}

                </div>
            </div>
            <div class="box-vagas">
                <div class="container-vagas-cadastradas">
                    <h3 class="title-meio-h3">{% if perfilPessoa.tipo == 'A' %}VAGAS CADASTRADAS{%endif%}
                    {% if perfilPessoa.tipo == 'E' %}VAGAS LANÇADAS{%endif%}
                    </h3>
                    <div class="card-vagas">
                        {% for Vaga in vaga_cadastradas%}
                        <div class="itens-card-vagas">
                            <h4 class="title-card-vagas">{{Vaga.vcad_postVaga_fk.vag_nome}}</h4>
                            <p class="descricao-vaga">{{Vaga.vcad_postVaga_fk.vag_usuario_fk.first_name}}</p>
                            <div class="div-btn-ver-mais">
                                <a href="" class="btn-ver-mais">
                                    <p class="text-ver-mais"> Ver mais</p>
                                </a>
                            </div>
                        </div>
                        {%endfor%}




                    </div>
                </div>
                {% if perfilPessoa.tipo == 'A' %}
                <div class="container-avaliacao">
                    <h4 class="title-meio-h3">Avaliações do Docente</h4>
                    <div class="box-avaliacao">
                        <h5 class="text-docente">Professor Felipe</h5>
                    </div>
                    <div class="rating">
                        <input type="radio" id="star5" name="rating" value="5">
                        <label for="star5"></label>
                        <input type="radio" id="star4" name="rating" value="4">
                        <label for="star4"></label>
                        <input type="radio" id="star3" name="rating" value="3">
                        <label for="star3"></label>
                        <input type="radio" id="star2" name="rating" value="2">
                        <label for="star2"></label>
                        <input type="radio" id="star1" name="rating" value="1">
                        <label for="star1"></label>
                    </div>
                </div>

                 <h4 class="title-meio-h3">Cursos</h4>


                {% for curso in  curso_aluno_vinculado%}
                    <h1>Nome: {{curso.curs_insituicao.curs_nome}}</h1>
                {%endfor%}

                <form action="" method="POST" name="curso_escolhido">
          {% csrf_token %}
          <div class="container-avaliacao">

          <select id="firstOption" name="instituicao">
                    <option value="">Selecione o Curso</option>
                        {% for opcao in curso_oferecer %}
                            <option  value="{{ opcao.curs_perfil_fk.per_pessoa_fk.first_name }}">{{ opcao.curs_perfil_fk.per_pessoa_fk.first_name }}</option>
                        {% endfor %}


                    </select>

                     <select id="secondOption" name="curso">
                        <option value="">Selecione a opção</option>
                    </select>
              <button type="submit" name="curso_escolhido" class="btn-alterar-sobre">Enviar</button>
                </div>

      </form>

                {%endif%}

                 {% if perfilPessoa.tipo == 'I' %}
                <h4 class="title-meio-h3">Cadastra curso</h4>
                    <form action="" method="POST">
                        {% csrf_token %}
                         <label for="id_curs_nome" class="text-dados">Nome do curso</label>
                        <input type="text" name="{{curso_instituicao.curs_nome.name}}" class="input-dados" id="id_curs_nome" placeholder="Digite o nome do curso">
                         <button type="submit" name="botao-curso-instituicao" class="btn-alterar-sobre">Salvar</button>
                    </form>
                   <h4 class="title-meio-h3" style="margin-top:15px;">Cursos cadastrados</h4>
                <div class="container-avaliacao">

                    {% for curso in curso_vinculado%}
                        <div class="itens-card-vagas">
                            <h4 class="title-card-vagas">{{curso.curs_nome}}</h4>


                        </div>
                        {%endfor%}

                </div>
                {%endif%}

                {% if perfilPessoa.tipo == 'D' %}
                <h4 class="title-meio-h3">Curso vinculados</h4>

                    {% for curso in docente_curso%}
                        <h1>{{curso.doce_curso_instituicao_fk.curs_nome}}</h1>
                        {%endfor%}

                {%endif%}

            </div>
        </div>
        <div class="container-certificados">
            <div class="titulo-certificados">
                {% if perfilPessoa.tipo == 'A' %}
                <h3 class="title-meio-h3">Certificados</h3>
                <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                    <label for="id_cert_nome_curso" class="text-dados">Nome do certificado</label>
                    <input type="text" name="{{certificados.cert_nome_curso.name}}" class="input-dados" id="id_cert_nome_curso">
                    <label for="id_cert_instituicao" class="text-dados" >Nome da instituição</label>
                    <input type="text" name="{{certificados.cert_instituicao.name}}" id="id_cert_instituicao" class="input-dados">
                    <input type="file" name="{{certificados.cert_arquivo.name}}" >

               
                <button type="submit" class="btn-alterar-sobre" name="botao-certificado">Enviar</button>
                </form>
                <div class="campo-certificados" style="margin-top: 28px;">

                     {% for certificado in certificados_usuario%}
                    <div class="style-certificado" style="display: flex;justify-content: center;align-items: center;margin-top: 20px;">

                        <div class="certificado-informacao" style="width:50%;">
                        <p>Nome do curso: {{certificado.cert_nome_curso}}</p>
                    <p>Nome da instituição: {{certificado.cert_instituicao}}</p>
                    </div>
                    <img src="{{certificado.cert_arquivo.url}}" style="width:25%;">

                    </div>

                {%endfor%}

                </div>

                {%endif%}

                {% if  perfilPessoa.tipo == 'E' %}
                <h3 class="title-meio-h3">Postar vaga</h3>
                <form method="POST" action="">
                {% csrf_token %}

                     <label for="id_vag_nome" class="text-dados">Nome da vaga</label>
                    <input type="text" name="{{post.vag_nome.name}}" class="input-dados" id="id_vag_nome">

                    <label for="id_vag_tell" class="text-dados">Telefone</label>
                    <input type="text" name="{{post.vag_tell.name}}" class="input-dados" id="id_vag_tell" value="
                        {% if perfilPessoa.per_tell%} {{perfilPessoa.per_tell}} {%endif%}">

                    <label for="id_vag_email" class="text-dados">Email</label>
                    <input type="email" name="{{post.vag_email.name}}" class="input-dados" id="id_vag_email">

                    <label for="id_vag_endereco" class="text-dados">Endereço</label>
                    <input type="text" name="{{post.vag_endereco.name}}" class="input-dados" id="id_vag_endereco">

                    <label for="id_vag_descricao" class="text-dados">Descrição</label>
                    <input type="text" name="{{post.vag_descricao.name}}" class="input-dados" id="id_vag_descricao">


                    <label for="id_vag_funcao" class="text-dados">Função</label>
                    <input type="text" name="{{post.vag_funcao.name}}" class="input-dados" id="id_vag_funcao">

                    <label for="id_vag_beneficio" class="text-dados">Beneficio</label>
                    <input type="text" name="{{post.vag_beneficio.name}}" class="input-dados" id="id_vag_beneficio">

                <button type="submit" name="botao-vag" class="btn-alterar-sobre">Enviar</button>
                </form>
                {%endif%}

                {% if  perfilPessoa.tipo == 'I' %}

                <form  method="POST"  name="form-docente" class="container-post-vagas">
                    {% csrf_token %}

                    <div class="box-vagas">
                        <label for="id_nome_docente" class="text-dados">Nome docente</label>
                        <input type="text" name="{{docente_formulario.nome_docente.name}}" class="input-itens" id="id_nome_docente">
                    </div>

                    <div class="box-vagas">
                        <label for="id_email_docente" class="text-dados">Email docentee</label>
                        <input type="text" name="{{docente_formulario.email_docente.name}}" class="input-itens" id="id_email_docente">
                    </div>

                    <div class="box-vagas">
                        <label for="id_cpf_docente" class="text-dados">CPF</label>
                        <input type="text" name="{{docente_formulario.cpf_docente.name}}" class="input-itens-vaga" id="id_cpf_docente">
                    </div>

                    <div class="box-vagas">
                        <label for="id_senha_docente" class="text-dados">Senha</label>
                        <input type="text" name="{{docente_formulario.senha_docente.name}}" class="input-dados-vaga" id="id_senha_docente">
                    </div>

                    <div class="box-vagas">
                        <label for="id_senha_docente2" class="text-dados">Confirmação de Senha</label>
                        <input type="text" name="{{docente_formulario.senha_docente2.name}}" class="input-dados-vaga" id="id_senha_docente2">
                    </div>


                        {% for opcao in curso_vinculado %}

                            <input type="checkbox" id="scales" name="curso_docente" value="{{ opcao.curs_codigo }}">
                            <label for="scales">{{ opcao.curs_nome }}</label>

                        {% endfor %}


                    <button type="submit" class="btn-alterar-sobre" name="btn-docente">Enviar</button>
                </form>


            </div>
        </div>


    </main>






{% if  perfilPessoa.tipo == 'I' %}
{%for docente in docente_vinculado%}
                <p>{{docente.doce_perfil_pk.per_pessoa_fk.first_name}}</p>
                {%endfor%}
                {%endif%}

<form  method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="arquivo_nome_turma">Nome da turma: </label>
    <input type="text" name="arquivo_nome_turma">

    <!--<label for="arquivo_curso">Nome do curso: </label>
    <input type="text" name="arquivo_curso"> -->

    <input type="file" name="arquivo">
    <button type="submit" name="botao-csv">Enviar</button>
</form>
{%endif%}


<script src="{% static 'Scripts/perfil_script.js' %}"></script>
<script src="{% static 'Scripts/ajax_curso.js' %}"></script>
{%endblock%}