{% extends 'base.html' %}

{% block title %}<title>Home | Sistagio</title> {% endblock %}

{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'vagas.css'%}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
{% endblock %}
{% block conteudo %}
{% include 'parcias/_header.html' %}
<main class="main">
    <div class="container-apresentacao-main">
        <div class="itens-info">
            <div class="infoInicio">
                <div class="roda"></div>
                <h3 title="carrossel">Olá <span class="nome-pessoa">{{user.first_name}}</span>, É uma honra ter você em
                    nossa companhia!</h3>
                <h5 class="subtitulo-carrosel">No sistagio você encontra as oportunidades certas para sua carreira
                    profissional.</h5>
            </div>
        </div>
        <div class="itens-img-main">
            <img src="/static/imagens/nuvem.png" alt="nuvem1" class="nuvem" id="nuvem1">
            <img src="/static/imagens/img-inicio-mainn.png" alt="computador" id="img-computador-main">
            <img src="/static/imagens/nuvem.png" alt="nuvem1" class="nuvem" id="nuvem2">

        </div>
    </div>

    <form class="busca" method="POST" action="{% url 'post_vagas:homepage' %}">
        {% csrf_token %}
        <div class="divBusca">
            <h1 class="titleBusca">{% if perfilUsuario.tipo == 'A' %}Busque pela vaga tão sonhada! {%else%}
                Busque por alunos!{%endif%} </h1>
            <div class="itensBusca">
                <input type="text" id="txtBusca" placeholder="Buscar..." value="{{busca}}" name="busca" />
                <button id="btnBusca">Buscar</button>

            </div>

        </div>

        </div>
    </form>


    {% if perfilUsuario.tipo == 'A' %}


    <section class="vagas">
        
        <h1 class="title-container-vagas">Vagas Disponíveis</h1>
        <div class="containerVagas">
            {% if not vagas%}
            <h1>Infelizmente não encontramos nenhum resultado para sua busca</h1>
            {%endif%}
            {% for vaga in vagas %}
            <div class="box-vagas" id="urlRequisicao" data-url="{% url 'post_vagas:verificacao' %}">


                <div class="card-vagas">

                    <div class="itens-vagas">
                        <h2 class="vaga_name">
                            {{ vaga.vag_nome}}</h2>
                        <h3 class="title-empresa"><i class="fa-sharp fa-solid fa-building" id="icons"></i>{{ vaga.vag_usuario_fk.first_name}}</h3>
                        <!-- <h5 class="subtitulo-empresa">Uma empresa de micro-serviços</h5> -->
                        <h5 class="endereco"><i class="fa-solid fa-location-dot" id="icons"></i>{{ vaga.vag_endereco}}</h5>
                        <vaga_descricao style="display:none;" id="vaga_descricao"><i class="fa-solid fa-paperclip" id="icons"></i>{{vaga.vag_descricao}}
                        </vaga_descricao>
                        <vaga_funcao style="display:none;" id="vaga_funcao"><i class="fa-solid fa-scroll" id="icons"></i>{{vaga.vag_funcao}} </vaga_funcao>
                        <vaga_beneficio id="vaga_beneficio"><i class="fa-solid fa-money-check-dollar" id="icons"></i>{{vaga.vag_beneficio}}
                        </vaga_beneficio>
                        <vaga_codigo id="vaga_codigo" style="display: none;">{{vaga.vag_cod}}</vaga_codigo>
                    
                    </div>

                   
                </div>






            </div>

            {% endfor %}


        </div>
    </section>

    <div class="modal-container">

        <div class="modal">
            <h5 id="vaga-nome"></h5>
           
            
            <div class="modal-texts">
                <div class="itens-vaga">
                    <h3 class="title-texts">Empresa </h3>
                    <h5 id="empresa-nome"></h5>
                </div>
                <div class="itens-vaga">
                    <h3 class="title-texts">Requisitos </h3>
                    <h5 id="vaga-descricao"></h5>
                </div>
                <div class="itens_vaga">
                    <h5 class="requisitos_vaga"></h5>
                </div>
                <div class="itens-vaga">
                    <h3 class="title-texts">Descrição </h3>
                    <h5 id="vaga-funcao"></h5>
                </div>
                <div class="itens-vaga">
                    <h3 class="title-texts">Endereço </h3>
                    <h5 id="empresa_endereco"></h5>
                </div>
                <div class="itens-vaga">
                    <p class="title-texts">Benefícios</p>
                    <h5 id="vaga-beneficio"></h5>
                </div>
                <div class="itens-vaga">
                    <p class="title-texts">Código da vaga <h2 id="id-vaga"></h2>
                    </p>
                </div>
            </div>
            <div class="button-candidatar">
                <p id="candidatar"></p>
            </div>

            <span id="registration-url" data-url="{% url 'post_vagas:cadastro' %}"></span>

        </div>
    </div>
</main>
{%endif%}

{% if perfilUsuario.tipo == 'E' %}

<section class="vagas">
    <h1 class="title-container-vagas">Alunos Disponíveis</h1>
    <div class="containerVagas">
        {% if not alunos_perfil%}
        <h1>Infelizmente não encontramos nenhum resultado para sua busca</h1>
        {%endif%}
        {% for aluno in alunos_perfil %}
        <div class="box-vagas">


            <div class="card-vagas" style="text-align: center;">
                {% if not aluno.per_foto %}
                <img src="/static/imagens/perfil-sem-foto.png" alt="" class="img-perfil">
                {%endif%}
                {% if aluno.per_foto %}

                <img src="{{aluno.per_foto.url}}" alt="" class="img-perfil">
                {%endif%}
                <div class="itens-vagas">
                    <h2 class="vaga_name">{{aluno.per_pessoa_fk.first_name}}</h2>


                </div>
                
                <div class="itens-btn">
                    <a class=" btn-ver-mais " href="{% url 'perfil:detalheperfil' aluno.per_pessoa_fk.id %}">Ver
                        Perfil</a>
                </div>
            </div>


        </div>


        {% endfor %}



    </div>
</section>


{%endif%}
{% include 'parcias/_footer.html'%}

<script>
    const getElement = (...queries) => document.querySelector(...queries);

    elemento = document.querySelectorAll('.card-vagas');


    var modal = getElement(".modal-container");


    activeModalClass = 'modal-show';

    elemento.forEach(function (elements) {


        elements.addEventListener('click', function () {

            showModal(elements);

            $(document).ready(function () {
                var urlRequisicao = $('#urlRequisicao').data('url');
                $.ajax({
                    url: urlRequisicao,
                    type: 'POST',
                    data: {
                        'vaga_codigo': document.getElementById('id-vaga').innerHTML
                    },
                    success: function (data) {
                        if (data.certo) {
                            btncandidatar.innerHTML = 'Inscrito'
                        } else {
                            btncandidatar.innerHTML = 'Inscreva-se'
                        }
                    }
                });

            }); //fim ajax

        });
    })

    function showModal(element) {
        var nome = element.querySelector("h2");
        var nome_empresa = element.querySelector("h3");
        var endereco = element.querySelector("h5");
        var vaga_descricao = element.querySelector("vaga_descricao");
        var vaga_funcao = element.querySelector("vaga_funcao");
        var vaga_beneficio = element.querySelector("vaga_beneficio");
        var vaga_codigo = element.querySelector("vaga_codigo");

        console.log(vaga_codigo)
        document.getElementById("vaga-nome").innerHTML = nome.innerHTML;
        document.getElementById("vaga-funcao").innerHTML = vaga_funcao.innerHTML;
        document.getElementById("vaga-beneficio").innerHTML = vaga_beneficio.innerHTML;
        document.getElementById("vaga-descricao").innerHTML = vaga_descricao.innerHTML;
        document.getElementById("empresa-nome").innerHTML = nome_empresa.innerHTML;
        document.getElementById("empresa_endereco").innerHTML = endereco.innerHTML;
        document.getElementById("id-vaga").innerHTML = vaga_codigo.innerHTML;

        modal.classList.add(activeModalClass)
    }


    modal.addEventListener('click', (event) => {
        modal.classList.remove(activeModalClass)
    })
</script>
<script>
    var carouselSlide = document.querySelector('.carousel-slide');
    var carouselImages = document.querySelectorAll('.carousel-slide img');

    var counter = 0;
    var slideWidth = carouselImages[0].clientWidth;

    // Configurar o slide inicial
    carouselSlide.style.transform = 'translateX(' + (-slideWidth * counter) + 'px)';

    // Função para avançar o slide
    function nextSlide() {
        if (counter >= carouselImages.length - 1) return;
        counter++;
        carouselSlide.style.transition = 'transform 0.3s ease-in-out';
        carouselSlide.style.transform = 'translateX(' + (-slideWidth * counter) + 'px)';
    }

    // Definir intervalo de tempo para avançar automaticamente
    var interval = setInterval(nextSlide, 2000);

    // Reiniciar o slide no final
    carouselSlide.addEventListener('transitionend', function () {
        if (carouselImages[counter].id === 'last-clone') {
            carouselSlide.style.transition = 'none';
            counter = carouselImages.length - 3;
            carouselSlide.style.transform = 'translateX(' + (-slideWidth * counter) + 'px)';
        }
        if (carouselImages[counter].id === 'first-clone') {
            carouselSlide.style.transition = 'none';
            counter = carouselImages.length - counter;
            carouselSlide.style.transform = 'translateX(' + (-slideWidth * counter) + 'px)';
        }
    });

    // Pausar o carrossel ao passar o mouse
    carouselSlide.addEventListener('mouseenter', function () {
        clearInterval(interval);
    });

    // Retomar o carrossel ao remover o mouse
    carouselSlide.addEventListener('mouseleave', function () {
        interval = setInterval(nextSlide, 3000);
    });
</script>
<script>
    var btncandidatar = document.getElementById('candidatar')
    btncandidatar.addEventListener('click', function () {
        $(document).ready(function () {
            var registrationUrl = $('#registration-url').data('url');
            $.ajax({
                url: registrationUrl,
                type: 'POST',
                data: {
                    'vaga_codigo': document.getElementById('id-vaga').innerHTML
                },
                success: function (data) {
                    if (data.certo) {
                        btncandidatar.innerHTML = 'Inscrito'
                    }
                }
            });
        });
    });
</script>
{% endblock %}