{% load static%}
<link rel="stylesheet" href="{%static '_footer.css'%}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">




<footer>
    <div id="footer_container">
        <div id="footer_contatos">
            <p> Sistagio abrindo portas para seu futuro! </p>
        </div>

        <div class="midia_sociais">
            <p class="contatos">Contatos</p>
            <a href="#" class="footer_link" id="instagram">
                <i class="fa-brands fa-instagram"> </i>
            </a>

            <a href="#" class="footer_link" id="email">
                <i class="fa-regular fa-envelope"> </i>
            </a>

            <a href="#" class="footer_link" id="github">
                <i class="fa-brands fa-github"></i>
            </a>
        </div>
    </div>

    <div id="footer_copyright">
        &copy; SISTAGIO, 2023
    </div>
</footer>