{% load static%}
<link rel="stylesheet" href="{%static '_footer.css'%}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">



<footer class="footer">
     <div class="containerFooter">
        <div class="informacoes">
            <h4> Sobre nos </h4>
            <ul>
                <a href="#"> clique aqui para saber </a>
            </ul>
                  <!--  <a href="{% url 'home:inicial' %}" id="links"> Sobre nós </a> -->
        </div>
        <div class="direitos">
            <ul>
                &copy; Copyright 2023, Sistagio
            </ul>
        </div>


<div class="redesSociais">
    <h4 class="siga-nos"> CONTATOS</h4>
    <ul>
       <a href="#"  i class="fab fa-instagram"> Instagram</i></a>
       <a href="#"  i class="fab fa-email"> E-mail </i></a>
       <a href="#"  i class="GitHub"> GitHub</i></a>
    </ul>
    <!--<a href="#" id="links">Instagram</a>-->

</div>

</div>

</footer>