{% load static %}
<link rel="stylesheet" href="{% static '_header.css'%}">

<header>
        <div class="centro">
            <div class="logo"><img src="/static/imagens/logoSistagio.png" width="32%" alt=""></div> <!-- logo-->
            <div class="menu">

                <a href="{% url 'home:inicial' %}" id="home_header"> Home</a>
                <a href="{% url 'home:login' %}" id="login_header"> Login</a>
                <a href="{% url 'home:cadastro' %}" id="cadastro_header"> Cadastro </a>
            </div>
            <!--menu-->
        </div>
        <!--center-->
    </header>